services:
  torch-data-store:
    image: "samply/blaze:1.1@sha256:af980162fea1c1047ffab1e51400c7a8bbe4d61d6669de0ed915198280d46878"
    environment:
      BASE_URL: ${TORCH_DATA_STORE_BASE_URL:-http://torch-data-store:8080}
      JAVA_TOOL_OPTIONS: "-Xmx2g"
      LOG_LEVEL: ${TORCH_DATA_STORE_LOG_LEVEL:-info}
    ports:
      - "8082:8080"
    volumes:
      - "data-store-data:/app/data"
  torch-flare:
    image: ghcr.io/medizininformatik-initiative/flare:2.4.0-alpha.1@sha256:91bf65f98b52a1be6ebd2ab345e5dde99140d0f66a6bc3869bc9ddcc1d3efcba
    ports:
      - ${FEASIBILITY_FLARE_PORT:-127.0.0.1:8084}:8080
    environment:
      FLARE_FHIR_SERVER: ${FLARE_FHIR_SERVER_URL:-http://torch-data-store:8080/fhir/}
      FLARE_FHIR_MAX_CONNECTIONS: ${FLARE_FHIR_MAX_CONNECTIONS:-32}
      FLARE_FHIR_PAGE_COUNT: ${FLARE_FHIR_PAGE_COUNT:-500}
      FLARE_CACHE_MEM_SIZE_MB: ${FLARE_CACHE_MEM_SIZE_MB:-1024}
      FLARE_CACHE_MEM_EXPIRE: ${FLARE_CACHE_MEM_EXPIRE:-PT48H}
      FLARE_CACHE_MEM_REFRESH: ${FLARE_CACHE_MEM_REFRESH:-PT24H}
      FLARE_CACHE_DISK_PATH: ${FLARE_CACHE_DISK_PATH:-cache}
      FLARE_CACHE_DISK_THREADS: ${FLARE_CACHE_DISK_THREADS:-4}
      FLARE_CACHE_DISK_EXPIRE: ${FLARE_CACHE_DISK_EXPIRE:-P7D}
      JAVA_TOOL_OPTIONS: ${FLARE_JAVA_TOOL_OPTIONS:--Xmx4g}
      LOG_LEVEL: ${FLARE_LOG_LEVEL:-info}
    restart: unless-stopped
  torch-nginx:
    restart: unless-stopped
    image: nginxinc/nginx-unprivileged:1.29.2-alpine@sha256:a920100a2fa25d919ee0c6d0006e247d9bc1cdea9f6c070d91c7eb23304b3e07
    ports:
      - ${PORT_TORCH_NGINX:-127.0.0.1:8085}:8080
    volumes:
      - ./nginx.conf.template:/etc/nginx/nginx.conf.template
      - ./start-nginx.sh:/start-nginx.sh
      - torch-data-store:/app/output  # Shared with torch service
      - ./output:/app/output
    entrypoint: [ "/bin/sh", "/start-nginx.sh" ]
  torch:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${PORT_TORCH:-127.0.0.1:8086}:8080
    environment:
      SERVER_PORT: 8080
      TORCH_PROFILE_DIR: /app/ontology/structureDefinitions
      TORCH_MAPPING_CONSENT: /app/mappings/consent-mappings_fhir.json
      TORCH_MAPPING_TYPE_TO_CONSENT: /app/mappings/type_to_consent.json
      TORCH_FHIR_URL: http://torch-data-store:8080/fhir
      TORCH_FLARE_URL: http://torch-flare:8080
      TORCH_RESULTS_DIR: /app/output
      TORCH_RESULTS_PERSISTENCE: PT2160H
      LOG_LEVEL: debug
      TORCH_BASE_URL: http://localhost:8080
      TORCH_OUTPUT_FILE_SERVER_URL: http://localhost:8085
      TORCH_BATCHSIZE: 100
      TORCH_MAXCONCURRENCY: 4
      TORCH_MAPPINGSFILE: /app/ontology/mapping_cql.json
      TORCH_CONCEPTTREEFILE: /app/ontology/mapping_tree.json
      TORCH_USECQL: false

    volumes:
      - "torch-data-store:/app/output"   # Shared volume with torch-nginx
      - ./structureDefinitions:/app/StructureDefinitions
      - ./output:/app/output
    user: 1000:1000

volumes:
  data-store-data:
  torch-data-store:
