# Server configuration

server:
  port: 8080
torch:
  base:
    url: http://localhost:8080

  profile:
    dir: ontology/structureDefinitions
  mapping:
    consent: mappings/consent-mappings_fhir.json
    type_to_consent: mappings/type_to_consent.json
  search_parameters_file: search-parameters.json
  fhir:
    user:
    password:
    oauth:
      issuer:
        uri:
      client:
        id:
        secret:

    url:
    page:
      count: 500
    max:
      connections: 5
    disable:
      async: false
  flare:
    url:
  results:
    dir: output/
    persistence: PT2160H # Time Block in ISO 8601 format
  batchsize: 500
  maxconcurrency: 4
  mappingsFile: ontology/mapping_cql.json
  conceptTreeFile: ontology/mapping_tree.json
  dseMappingTreeFile: ontology/dse_mapping_tree.json
  useCql: true
  bufferSize: 100
  output:
    file:
      server:
        url: localhost:8080/output
logging:
  level:
    de.medizininformatikinitiative.torch: ${LOG_LEVEL:info}
    ca.uhn.fhir: error


spring:
  profiles:
    active: active
  lifecycle:
    timeout-per-shutdown-phase: 30s
